body {
    font-family: Arial, sans-serif;
}

.pad-text{
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    right: 0;
}


.position{
    width: 155px;
}
