
  <div class="header">
   <img alt="User profile picture" height="40" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-PLqyCJphdtrrhkXVu07cttkn.png?st=2024-05-17T00%3A44%3A50Z&amp;se=2024-05-17T02%3A44%3A50Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-05-16T05%3A36%3A42Z&amp;ske=2024-05-17T05%3A36%3A42Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=y5zvQgvLaLBs%2BLeqLeWsnZIeAZakCuw6StzHQ47bxi0%3D" width="40"/>
   <div>
    'Hola, {{usuario?.apellido}}!'
   </div>
  </div>
  <div class="account-info">
   <div>
    Mi cuenta
   </div>
   <div>
    Nro. {{tarjeta?.numTarjeta}}
   </div>
   <div class="balance">
    <ion-icon name="eye-outline">
    </ion-icon>
    <div>
     Ver Saldo disponible
    </div>
    <div>
     S/ {{cuenta?.saldo}}
    </div>
   </div>
  </div>
  <div class="buttons">
   <ion-button (click)="chinpear()">
    Chinpear
   </ion-button>
   <ion-button>
    Transferir por número de cuenta
   </ion-button>
   <ion-button>
    Pagar servicios
   </ion-button>
   <ion-button>
    Añadir contacto a favoritos
   </ion-button>
   <ion-button>
    Editar contacto
   </ion-button>
   <ion-button>
    Mis Datos
   </ion-button>
  </div>
  <div class="history">
   <div class="history-header">
    <div>
     Historial
    </div>
    <ion-button fill="clear" size="small">
     Ver más detalle
    </ion-button>
   </div>
   <div class="history-item" *ngFor="let transaccion of transacciones">
    <div>
     <div>
      {{transaccion.codigoOperacion}}
     </div>
     <div>
      {{transaccion.fechaTransaccion}}
     </div>
    </div>
    <div class="amount">
      {{transaccion.monto}}
    </div>
   </div>
  
  </div>
  