<div class="container">
  <ion-icon name="arrow-back-outline" class="back-icon"></ion-icon>
  <div class="top-right-corner"></div>
  <div class="container-items">
    <div class="header">¡Chinpea en 4 simples pasos!</div>
    <div class="subheader">Indícanos tu número de celular y correo electrónico.</div>
    <div class="input-field">
      <input [(ngModel)]="numeroCelular" type="text" placeholder="Nombre Usuario">
    </div>
    <div class="input-field">
      <input [(ngModel)]="correoElectronico" type="text" placeholder="Codigo de Usuario">
    </div>
    <button class="button" (click)="onClicNext(numeroCelular, correoElectronico)">SIGUIENTE</button>
  </div>
</div>