<div class="header">
  <ion-icon name="arrow-back-outline" class="self-start text-2xl mb-4" (click)="back()" ></ion-icon>

  Chimpay
</div>
<div class="search-bar">
  <input type="text" placeholder="Ingresa el número de celular">
  <button>
    <ion-icon name="search-outline"></ion-icon>
  </button>
</div>
<div>
  <div class="list-item" (click)="tradechin()">Camila Diaz Fernández</div>
  <div class="list-item">Diego Torres Altamirano</div>
  <div class="list-item">Estefany Aliaga Nuñez</div>
  <div class="list-item">Elias Rios Vera</div>
  <div class="list-item">Fran Lopez De la Cruz</div>
  <div class="list-item">Gabriela Diaz Fernández</div>
  <div class="list-item">Gino Torres Altamirano</div>
  <div class="list-item">Isabel Aliaga Nuñez</div>
  <div class="list-item">Jessica Rios Vera</div>
  <div class="list-item">Juan López De la Cruz</div>
</div>